/*
CSS for machine status Python CGI script nicknamed "machine_status".
Copyright (C) 2021 Alex Martin

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

body {
  font-family: sans-serif;
}
dl {
  display: grid;
  grid-template-columns: max-content max-content;
}
dt {
  grid-column: 1;
  padding: 1px;
}
dd {
  grid-column: 2;
  margin-inline-start: 1ex;
  padding: 1px;
}
table:not([role="presentation"]), table:not([role="presentation"]) th, table:not([role="presentation"]) td {
  border: solid 1px;
  border-collapse: collapse;
  padding: 5px;
}
table:not([role="presentation"]) th {
  background-color: lightgray;
}
table:not([role="presentation"]) caption {
  text-align: left;
  font-weight: bold;
}
section {
  margin-bottom: 1em;
}
section details {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
section summary h2 {
  display: inline;
  border-collapse: collapse;
  border: 1px solid;
}
section details > *:not(:first-child) {
  margin: 0.5em;
} 
